---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: "Security Scans"
on:
  workflow_dispatch:
  # For Branch-Protection check. Only the default branch is supported. See
  # https://github.com/ossf/scorecard/blob/main/docs/checks.md#branch-protection
  branch_protection_rule:
  # To guarantee Maintained check is occasionally updated. See
  # https://github.com/ossf/scorecard/blob/main/docs/checks.md#maintained
  schedule:
    - cron: "31 3 * * 0"
  push:
    branches: ["main", "master"]
    paths:
      - "**"
      - "!.github/**"

# Declare default permissions as none.
permissions: {}

jobs:
  sonatype-lifecycle:
    name: "Sonatype Lifecycle"
    # yamllint disable-line rule:line-length
    uses: lfit/releng-reusable-workflows/.github/workflows/reuse-sonatype-lifecycle.yaml@f8814d81051c7a2e4d7584657b4d283b62a56b20 # v0.2.26
    secrets:
      NEXUS_IQ_PASSWORD: ${{ secrets.NEXUS_IQ_PASSWORD }}

  # Scan results are found at: https://sonarcloud.io/login
  sonarqube-cloud:
    name: "SonarQube Cloud"
    runs-on: ubuntu-latest
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      # Needed to publish results and get a badge (see publish_results below).
      id-token: write
      # Uncomment the permissions below if installing in a private repository.
      # contents: read
      # actions: read
    steps:
      - name: 'Checkout repository'
        if: inputs.no_checkout != 'true'
        # yamllint disable-line rule:line-length
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Disabling shallow clones is recommended
          # This improves the relevancy of reporting output
          fetch-depth: 0

      - name: 'Check for file: pom.xml'
        id: maven-project
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/path-check-action@aa7dabfa92e50e31a0f091dd3e2741692e8dde07 # v0.1.5
        with:
          path: "pom.xml"

      - name: "Build Maven project"
        if: steps.maven-project.outputs.type == 'file'
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/maven-build-action@c62bd77eeaaee7a875ba6fd1d3f6970262de58c0 # v0.1.1
        with:
          jdk-version: "17"
          mvn-phases: 'clean verify'
          mvn-params: '-Ddocker.skip=true'
          global-settings: ${{ vars.GLOBAL_SETTINGS }}

      - name: "SonarQube Cloud Scan"
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/sonarqube-cloud-scan-action@c72bf92c73d9c41fa12da57f1a50fcdf0d06994c # v0.1.5
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          no_checkout: 'true'
          debug: 'false'
